.favoritesContainer{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    box-sizing: border-box;
}

.favoritesContainer h1{
    text-align: center;
}

.favoritesContainer ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.favoritesContainer ul > li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
}

.favoritesContainer ul li > .btnGroup{
    display: flex;
    gap: 1em;
}

.favoritesContainer ul li .btnGroup > a, .favoritesContainer ul li .btnGroup > button{
    padding: .5em;
    border-radius: 5%;
    font-size: 1.2em;
    border: none;
    transition: all .2s ease;
    cursor: pointer;
}

.favoritesContainer ul li > span{
    font-size: 2em;
    font-weight: 500;
}

.favoritesContainer ul li .btnGroup > a{
    background-color: #20BF55;
    color: white;
    text-decoration: none;
}

.favoritesContainer ul li .btnGroup > button{
    background-color: #DA3E52;
    color: white;
}