div.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5em;
    padding: .5em;
    border-radius: .5em;
    background-color: rgba(206, 206, 206, 0.753);
    width: 25vw;
    height: 70vh;
}

div.search > p{
    text-align: center;
}

div.search > input{
    border: none;
    border-radius: .5em;
    font-size: 1.2em;
    padding: .5em;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

@media(max-width: 600px){
    div.search{
        min-width: 80vw;
        height: 45vh;
    }
}